---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="FF Franco">
    <main>
        <section>
            <a href="/ingreso">INGRESO</a>
            <a href="/egreso">EGRESO</a>
        </section>
        <section>
            <iframe
                src="https://docs.google.com/spreadsheets/d/1x-cvoqAnvVfzxM9gF6k7mUfmV2eKCOVmYJK3t_kIsKc/pubhtml?gid=2027687483&single=true&widget=true&headers=false"
            ></iframe>
        </section>
    </main>
</Layout>

<style>
    iframe {
        width: 520px;
        height: 220px;
    }
    @media (max-width: 768px) {
        iframe {
            width: 100%;
            max-width: 520px;
        }
    }
</style>
