---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="FF Franco">
    <main>
        <section>
            <a href="/ingreso">INGRESO</a>
            <a href="/egreso">EGRESO</a>
        </section>
        <section>
            <iframe
                src="https://docs.google.com/spreadsheets/d/1x-cvoqAnvVfzxM9gF6k7mUfmV2eKCOVmYJK3t_kIsKc/pubhtml?gid=2027687483&single=true&widget=true&headers=false"
            ></iframe>
        </section>
        <section>
            <iframe
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfvTnhMcJFZuhYwOC_Qs70YrhCh20vOTcctJLbJpGIrZubra1teb1GPyhg2UPVHn9lu7N_qaARgefr/pubhtml?gid=1930314348&single=true&widget=true&headers=false"
            ></iframe>
        </section>
    </main>
</Layout>

<style>
    a {
        border: none;
        border-radius: 4px;
        padding: 10px;

        cursor: pointer;
        text-decoration: none;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background-color: #478aef;
    }

    section {
        padding: 20px 0;
    }

    iframe {
        width: 520px;
        height: 220px;
    }

    @media (max-width: 768px) {
        iframe {
            width: 100%;
            max-width: 520px;
        }
    }
</style>
