---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="FF Franco">
    <main>
        <a href="/ingreso">INGRESO</a>
        <a href="/egreso">EGRESO</a>
    </main>
</Layout>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 380px;
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: 500;
    }

    input {
        border: none;
        border-radius: 4px;

        width: 100%;
        padding: 10px;
    }

    button {
        border: none;
        border-radius: 4px;

        padding: 10px;
        cursor: pointer;
    }

    .send-btn {
        background-color: #3dc763;
    }

    .reset-btn {
        background-color: #478aef;
    }

    .load {
        display: flex;
        justify-content: center;
    }

    .res-msg {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .error {
        color: rgb(226, 38, 77);
        text-decoration: underline;
    }
</style>
