---
import Button from '@/components/Button.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="FF Franco">
    <main>
        <form action="" id="form">
            <label for="concept">
                Concepto de ingreso
                <input type="text" name="concept" id="concept" />
            </label>

            <label for="calendar">
                Fecha
                <input type="date" name="incomeDate" id="calendar" />
            </label>

            <label for="total">
                Importe
                <input
                    type="tel"
                    name="totalAmount"
                    id="total"
                    autocomplete="off"
                />
            </label>

            <Button type="submit" color="green">REGISTRAR</Button>
            <Button type="reset" color="blue" id="reset-btn"
                >CARGAR NUEVO</Button
            >
        </form>
    </main>
</Layout>

<script>
    import { $ } from '@/lib/dom-selector'

    const $form = $('#form') as HTMLFormElement
    const $conceptInput = $('#concept') as HTMLInputElement
    const $resetBtn = $('#reset-btn') as HTMLButtonElement

    const handleSubmit = async (e: SubmitEvent) => {
        e.preventDefault()

        const formData = new FormData(e.target as HTMLFormElement)

        const res = await fetch('/api/income', {
            method: 'POST',
            body: formData
        })

        if (!res.ok) {
            console.log('Error')
            return
        }

        $form.reset()
        $conceptInput.focus()
    }

    $form.addEventListener('submit', handleSubmit)
    $resetBtn.addEventListener('click', () => {
        $('#concept')?.focus()
    })
</script>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 380px;
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: 500;
    }

    input {
        border: none;
        border-radius: 4px;

        width: 100%;
        padding: 10px;
    }
</style>
